// NOTES !! IF YOU REGISTERING NEW VARIABLE HERE YOU SHOULD UPDATE ABSTRACTS/INDEX.SCSS AND GLOBAL.CSS !!
$white: #ffffff;
$black: #000000;

// yellow
$yellow-70: #fffaed;
$yellow-100: #fefca9;
$yellow-200: #fdf1c3;
$yellow-400: #ffd773;
$yellow-800: #f9cf36;

// orange
$orange-500: #ffb700;

// red
$red-100: #fff1f0; /* actually this one is closer to pink */
$red-300: #ec7173;
$red-600: #e2283e;
$red-700: #df0000;

// blue
$blue-100: #f4f9fd;
$blue-300: #65c0ff;
$blue-600: #1890ff;

// green
$green-100: #f1fffa;
$green-300: #77e4bd;
$green-600: #31c18d;

// brown
$brown-600: #b68400;

// gray
$gray-100: #f6f6f6;
$gray-300: #efefef;
$gray-500: #e2e2e2;
$gray-600: #c4c4c4;
$gray-700: #a8a8a8;
$gray-900: #2d2d2d;
